.efueling_section_2 {
    margin: 0 auto;
    width: 85%;
    margin-top: 10%;
    .efueling_section_2_row {
        .efueling_section_2_row_header {
            color: $blackColor;
            font-size: 20px;
            font-weight: 700;
        }
        .efueling_section_2_row_card {
            padding:20px;
            border-radius: 20px;
            background: $lightGrey;
            box-shadow: 1 2px 6px rgba(0,0,0,0.16);
            height: 330px;
            color: $blackColor; 
        }
        p {
            font-size: 16px;
            color: $blackColor;
        }
    }
    .efueling_section_2_header {
        color: $primaryColor;
        font-size: 35px;
        font-weight: 700;
    }
    p {
        color: $primaryColor;
        font-size: 20px;
    }
   
}