
.epump_offers_section {
    background: $primaryColor;
    .epump_offers_section_container {
        margin: 0 auto;
        width: 85%;
        padding-top: 100px;
        padding: 100px;
        .epump_offers_section_header {
            color: $whiteColor;
            font-weight: 700;
        }
        .epump_offers_section_header_para {
            color: $whiteColor;
            font-size: 20px;
        }
    }
    h5 {
        color: $whiteColor;
        font-weight: 700;
    }
    .list-unstyled {
        color: $whiteColor;
        font-size: 15px;
    }
}


