.epump_efueling_app_section {
    margin: 0 auto;
    width: 85%;
    .epump_efueling_app_section_header {
        color: $primaryColor;
        font-size: 30px;
        font-weight: 700;
    }
    .epump_efueling_app_section_header_para {
        color: $primaryColor;
        font-size: 18px;
        font-weight: 600;
    }
    .download_app_efueling_section {
        display: flex;
        justify-content: center;
    }
}