.stations-banner-section  {
    margin: 0 auto;
    width: 85%;
    .boost_sales_btn {
        font-size: 25px;
    }
    .stations-banner-row {
        margin-top: 15%;
        .stations-banner-left-header {
            color: $primaryColor;
            font-size: 40PX;
            font-weight: 700;
            line-height: 1.7;
           
        }
        p{
            line-height: 1.9;
            font-size: 22PX;
        }
    }
    .stations-banner-right-img {
        margin-top: -15%;
        width: 100%;
        text-align: center;
    }
}
.station-section-3-card-header{
    color: $primaryColor;
    font-size: 14PX;
    font-weight: 800;
}