.Stations_section_5 {
    margin: 0 auto;
    width: 85%;
    .section-5-header-text{
        color: $primaryColor;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
    p{
        text-align: center;
        color: $primaryColor;
    }
    .stations-section-5-list-header {
        color: $primaryColor;
        font-size: 20px;
        font-weight: 600;
    }
}