

.privacy_policy_section {
    margin-top: 200px;
    .privacy_policy_header {
        color: $primaryColor;
        font-weight: 600;
        font-size: 35px;
    }
}
.privacy_policy_text_section_1 {
    margin: 0 auto;
    width: 70%;
    .privacy_policy_text_section_text_one {
        color: $primaryColor;
        text-align: justify;
    }
}