    .contact_us_section {
        .contact_us_header {
            font-size: 30px;
            font-weight: 600;
            color: $primaryColor;
        }
        .contact_us_section_row {
            margin: 0 auto;
            width: 85%;
            .list-2 {
                margin-top: 30%;
            }
            .list-3 {
                margin-top: 30%;
            }
        }
        h5 {
            color: $primaryColor;
            font-weight: 700;
            font-size: 15px;
        }
        input {
            border: 1px solid lightgray;
            height: 50px;
            border-radius: 12px;
            &::focus {
                outline: none;
                border: none;
            }
        }
         ::placeholder {
            color: $primaryColor;
            font-weight: 300;
            font-size: 20px;
        }
        textarea {
            border: 1px solid lightgrey;
        }
        .contact_form_submit_btn {
            background: $primaryColor;
            color: white;
            padding: 10px 100px 10px 100px;
            border: 1px solid $primaryColor;
            border-radius: 5px;
        }
        form {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
            padding: 30px;
            background: $whiteColor;
            border-radius: 20px;
        }
    }
    
    .form-control:focus {
        box-shadow: none;
        border: 1px solid $primaryColor;
    }