.section-3 {
    margin: 0 auto;
    width: 85%;
   .our_mission_para {
       text-align: justify;
   }
    .our_mission_span{
        color: $primaryColor;
    }
    .who_are_we_header {
        
    }
}