.banner-section {
    margin: 0 auto;
    width: 85%;
    height: 100vh;
    background-size: 800px 500px;
    background-repeat: no-repeat;
    background-position: left;
    .manage_stations_button {
        font-size: 20px;
    }
    .banner-quote {
        color: black;
        font-size: 25px;
    }
    .banner-tab-header {
        font-size: 30px;
        color: $primaryColor;
        line-height: 1.5;
        font-weight: 600;
    }
    .active-tab {
        border-right: none;
        border-left: none;
        border-bottom: 3px solid $primaryColor;
        color: $primaryColor;
    }
    .banner-tab-1 {
        display: flex;
        justify-content: center;
        background: #d3d3d359;
        height: 85px;
        cursor: pointer;
        .tab-text{
            align-self: center;
            font-size: 24px;
        }
    }
    .banner-tab-2 {
        display: flex;
        justify-content: center;
        background: #d3d3d359;
        cursor: pointer;
        .tab-text{
            align-self: center;
        }
    }
    .myTabContent {
        flex-direction: column;
    }
    .banner-tab-2 {
        height: 85px;
        font-size: 24px;
    }
    .banner-section-right-image {
        width: 120%;
        height: auto;
    }
    .banner-left-section-text  {
        margin-top: 10%;
    }
    .banner-section-content{
        padding-top: 100px;
        .banner-left-section{
            padding-top: 150px;

            .banner-text-header{
                font-size: 50px;
                color: $primaryColor;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif
            }
            .banner-text-content{
                font-size: 20px;
                font-weight: 400;
            }
            .call-to-action{
                padding-top: 100px;
                color: white;
                .main-call-to-action{
                    background: $primaryColor;
                    margin-right: 30px;
                    border-radius: 4px;
                    font-size: 20px;
                    cursor: pointer !important;
                    color: white !important;
                    width: 700px !important;
                    padding: 10px 30px 10px 30px !important;
                    &:hover {
                        background: white;
                        color: $primaryColor!important;
                        border: 2px solid $primaryColor !important;
                        border-radius: 4px;
                        font-size: 20px;
                        cursor: pointer ;
                    }
                }
                .sec-call-to-action{
                    background: white;
                    color: $primaryColor  !important;
                    border: 2px solid $primaryColor !important;
                    border-radius: 4px;
                    font-size: 20px;
                    cursor: pointer !important;
                    padding: 10px 30px 10px 30px !important;
                    &:hover {
                        background: $primaryColor ;
                        color: white !important;
                        cursor: pointer !important;
                    }
                }

            }
        }
        .banner-right-image  {
            background: url("img/Group 5.png");
            background-size: cover;
            background-repeat: no-repeat;
            .water-droplet{
                transform: translateY(200px) translateX(-16px) !important;
            }
            .spa-waters{
                transform: translateY(-180px) translateX(-46px);
                width: 80px;        
            }
        }
    }
}

