.card-header:first-child {
    text-align: center !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    color: white;
}
.card-header-1{
    background: #ffa646;
}
.card-header-2{
    background: $primaryColor;
}
.card-header-3{
    background: #33a9ac;
}
.card-header-4{
    background: #fb6041;
}
.card{
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16);
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    height: 278px;
}
.card-content-text{
    padding: 20px;
}