
footer {
    background: $primaryColor;
    height: auto;
    color: white;
    .footer-content {
        margin: 0 auto;
        width: 85%;
        .footer-content-section-2-list  {
            list-style-type: none;
            margin-left: -10px;
            li {
                a {
                    text-decoration: none;
                    color: white;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .footer-content-section-1-header {
            font-weight: 100;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
        }
        .footer-content-section-1-text {
            font-size: 13px
        }
    }
}