
.section-2 {
    margin: 0 auto;
    width: 85%;
    .section-2-header {
        padding-bottom: 30px;
        font-size: 35px;
        font-weight: 500;
        .section-2-section-header-span {
            color: $primaryColor;
        }
    }
    .section-2-content {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
}