.section-4{
    .section-4-row {
        margin: 0 auto;
        width: 85%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section_4_header {
        font-size: 50px;
        .section_4_header_span {
            color: $primaryColor ;
        }
    }
    .section-4-text-content {
        line-height: 2em;
        font-size: 18px;
    }
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0 !important;
    background-color: #e9ecef;
    border-radius: .3rem;
}

