body {
  
  font-family: 'Montserrat';
  overflow-x: hidden;
  background: #F6F9FF;
  width: 100%;
}

p {
  font-family: 'Montserrat';
}

* {
  font-family: 'Montserrat';
}
h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Montserrat';
}

* {
  box-sizing: border-box;
}

.first__banner__rwo_content {
  background: #F6F9FF;
  height: auto;
  
}
.grouped__sections {
  background: #F6F9FF;
  padding-bottom: 70px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.nav_list_items {
  height: 100%;
  list-style-type: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 95%;

  font-weight: 600;
}
.para__text {
  color: black;
  font-size: 25px;
  line-height: 2.0;
  font-weight: 600;
  
}
.apply_font {
  font-family: 'Montserrat';
}

.download_remise__header {
  margin-top: 80px;
}
.download__text {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat';
}
.remise__text {
  color:#1A3365;
  font-weight: 600;
  font-family: 'Montserrat';
}
.nav_list_items li {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #1A3365;
}
.nav_list_items li a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #1A3365;
}
.repeat__grid__section__section {
  position: absolute;
  top: -7%;
  left: -3%;
}
.repeat__grid__section__section_img {
  position: absolute;
  bottom: -36px;
  right: -1%;
  width: 72px;
}
.first_banner_first_grid {
  right: 36%;
  position: absolute;
  top: 615px;
}
.banner_right_sction_wraper {
  position: relative;
}

.why_choose_us {
  
}
.animation_img_section {
  position: relative;
}
.animate_img_wrapper {
  display: flex;
  flex-flow: column wrap;
}
.anim_img_1 {
  position: absolute;
  top: 21px;
  left: 29px;
  z-index: 1;
  animation-name: img1Animate;
  animation-duration: 1s;
  display: none;
}
@keyframes img1Animate {
  0%   {transform: translateX(-30px);}
 
}
.anim_img_2 {
  position: absolute;
  top:28px;
  left: 15px;
  z-index: 2;
  animation-name: img2Animate;
  animation-duration: 1s;
  display: none;
}
@keyframes img2Animate {
  0%   {transform: translateX(-30px);}
 
}
.anim_img_3 {
  position: absolute;
  top:30px;
  left: 10px;
  z-index: 3;
  animation-name: img3Animate;
  animation-duration: 1s;
  display: none;
}
@keyframes img3Animate {
  0%   {transform: translateX(-30px);}
 
}
.anim_img_4 {
  position: absolute;
  top:32px;
  left: 19px;
  z-index: 3;
  animation-name: img4Animate;
  animation-duration: 1s;
  display: none;
}
@keyframes img4Animate {
  0%   {transform: translateX(-30px);}
 
}
.why_choose_us_card_container {
  display: flex;
}
.why_choose_us_card_1 {
  /* flex: 0 0 33.33%; */
  width: 95%;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 15px #00000012;
  opacity: 1;
  min-height: 500px;
  z-index: 1;
  padding: 20px;
}
.why_choose_us_card_2 {
  /* flex: 0 0 33.33%; */
  width: 95%;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 15px #00000012;
  opacity: 1;
  min-height: 500px;
  padding: 20px;
}
.why_choose_us_card_3 {
  /* flex: 0 0 33.33%; */
  width: 95%;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 15px #00000012;
  opacity: 1;
  min-height: 500px;
  z-index: 1;
  padding: 20px;
}

.why_choose_us_header {
  font-size: 35px;
  color: #1A3365;
  font-weight: 700;
  font-family: 'Montserrat';
}
.why_choose_us_card_wrapper{
  margin: 0 auto;
  width: 85%;
  position: relative;
}
.why_choose_us_para {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
}
.first_section {
  margin: 0 auto;
  width: 78%;
  margin-top: 15px;
  font-family: 'Montserrat', ;
}
.baner_header {
  color: #1A3365;
  margin-top: 70px;
  font-size: 40px;
  font-weight: 700;
}
.banner_para {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  font-family: 'Montserrat';
}
.learn_more__btn {
  background: #1A3365;
  padding: 20px 60px 20px 60px;
  color: #FFFFFF;
  border: 1px solid #1A3365;
  background: #1A3365 0% 0% no-repeat padding-box;
  border: 1px solid #1A3365;
  border-radius: 10px;
  opacity: 1;
  font-family: 'Montserrat', ;
}
.learn_more_btn {
  background: #1A3365;
  padding: 20px 60px 20px 60px;
  color: #FFFFFF;
  border: 1px solid #1A3365;
  background: #1A3365 0% 0% no-repeat padding-box;
  border: 1px solid #1A3365;
  border-radius: 10px;
  opacity: 1;
  font-family: 'Montserrat', ;
  display: none;
}
/* linear-gradient(rgb(26, 51, 101 , 0.7), rgb(26, 51, 101 , 0.7)),  */


.banner_right_sction_wraper__inner__section {
  position: relative;
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.bounce {
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}
.phone__img {
  left: -77%;
  position: absolute;
  z-index: 1;
  height: 800px;
}
.bg_img {
  top: -571px;
  right: -23%;
  position: absolute;
  width: 800px;
}
/* BOUNCE ANIMATION */
.bounce {
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%, 75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

.left__positioned_img {
  position: absolute;
  top: 50%;
  left: 0;
}
.second__positioned_img {
  position: absolute;
  top: 80%;
  left: 3%;
}
.third__positioned_img {
  position: absolute;
  top: 85%;
  right: 13%;
}
.bullet__list_item {
  font-weight: 600;
}
.why__choose__box__icon_wrapper_1 {
  height: 120px;
  width: 120px;
  background: #FFE7A7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
}
.why__choose__box__icon_wrapper_2 {
  height: 120px;
  width: 120px;
  background: #D1DFFC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
}
.why__choose__box__icon_wrapper_3 {
  height: 120px;
  width: 120px;
  background: #A7FFCA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
}
.transparency__text {
  font-size: 24px;
  font-weight: 700;
  color: #1A3365;
  font-family: 'Montserrat';
  letter-spacing: 0;
  color: #1A3365;
  opacity: 1;
}
.transparency__text__para {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  /* padding: 20px; */
}

.donwload__content {
  font-size: 20px;
  color: #7D7D7D;
  font-weight: 600;
}
.remise__text {
  color: #1A3365;
}

.media_img_div {
  height: 35px;
  width: 35px;
  background: #C0CFEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px  solid #1A3365;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .step-1 {
  color: white;
  font-size: 2em !important;
}

.media_img_div_step_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step_rod {
  height: 80px;
  width: 2px;
  background: #1A3365;
}

.step_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

 .step-text-1 {
  color: #4b2c72;
}

.step-text-2 {
  margin-top: 60%;
  color: #4b2c72;
}

 .step-text-3 {
  margin-top: 70%;
  color: #4b2c72;
}


.navbar {
  background-color: none !important;
  width: 88% !important;
  margin: 0 auto !important;

  
} 
.navbar__wrapper {
  background: #F6F9FF;
  box-shadow: 2px 2px 6px #00000012;
}

.nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #1A3365 !important;
  font-weight: 600 !important;
  font-family: 'Montserrat' !important;
}
.map_section {
  margin: 0 auto;
  width: 85%;
  min-height: 630px;
}
.map_section_wrapper {
  background-color: #F6F9FF;
  position: relative;
}
.map__header {
  text-align: left;
  letter-spacing: 0;
  color: #1A3365;
  opacity: 1;
  font-weight: 700;
  font-size: 45px;
  margin-top: 100px;
  font-family: 'Montserrat';
}
.map {
  position: absolute;
  top: -10%;
  left: 0;
}

.line__div {
  width: 188px;
  height: 4px;
  background: #FFBB00;
}
.footer {
  margin: 0 auto;
  min-height: 400px;
  background: #1A3365;
  display: flex;
  align-items: center;
}
.download_remis__section{
  padding-bottom: 81px;
}
.footer_inner_content_wrapper {
  margin: 0 auto;
  width: 85%;
}
.footer__header {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat';
  font-family: 'Montserrat';
}
.footer_line__div{
  width: 118px;
  height: 4px;
  background: #FFBB00;
  margin-top: 10px;
}

.footer__address__txt {
  color: #FFFFFF;
  font-family: 'Montserrat';
}
.remise_footer__text {
  color: white;
  font-family: 'Montserrat';
  font-family: 'Montserrat';
}



/*  */

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: white;
  transition: 1s all;
  font-family: 'Montserrat';
}


/******FAQ ***/
.find_answers {
  color: #58585A;
  font-size: 16px;
  margin-bottom: 50px;
  font-family: 'Montserrat';
}

.find_answers_email {
  color: #1A3365;
  font-weight: bold;
  font-family: 'Montserrat';
}

.question_image {
  height: 50px;
}

.faq {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 15px 35px;
  justify-content: center;
  z-index: 1;
  font-family: 'Montserrat';
}

.faq_head {
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Montserrat';
}

.faq_chat {
  height: 40px;
  font-family: 'Montserrat';
}

.faq_head > p {
  margin-bottom: 0;
  width: 80%;
  color: #1A3365;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
  margin-right: 10px;
  font-family: 'Montserrat';
}

.faq_add {
  height: 30px;
  font-family: 'Montserrat';
}

.faq_body {
  padding: 10px 80px 0 90px;
  font-family: 'Montserrat';
}


@media (max-width: 900px) {
  .faq_body {
    padding: 10px 20px 0 20px;
  }
}

@media (max-width: 500px) {
  .faq_body {
    padding: 10px 0 0 0;
  }

  .faq {
    padding: 15px 20px;
  }

  .faq_head > p {
    margin-left: 30px;
  }
}


@media (max-width: 575px) {
  .phone__img {
    left: -77%;
    position: absolute;
    z-index: 1;
    height: 800px;
  }
}

/* COUNT DOWN MODAL */
.md-modal {
  margin: 0 auto;
	position: fixed;
	top: 100px;
	left: 0;
  right: 0;
	width: 90%;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0.8;
	background: #1A3365E8;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
	background: #1A3365E8;
} 

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.coming_soon_text {
  color: #FFBB00;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Montserrat';
}
.comming_soon_para {
  line-height: 3.0;
  color: #C0CFEE;
  font-family:  'Montserrat';
  font-size: 20px;;
}
.timer_div_wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.counter_header {
  font-size: 35;
  color: #FFFFFF;
  font-weight: 600;
}
.first_text {
  color: #FFBB00;
  
}
.coming__soon_email_input .email__input {
  height: 50px;
  width: 50%;
  background: #C9C9C9 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  outline: none;
  padding: 10px;
}

.coming__soon_submit_btn {
  background: #FFBB00 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFBB00;
  border-radius: 5px;
  opacity: 1;
  color: #1A3365;
  padding: 10px 40px 10px 40px;
}

.sec_counter_wrapper {
  position: relative;
}

.sec_counter {
  position: absolute;
  top: 21%;
  left: 22%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: #adb5bd36;
  opacity: 1;
  border: 1px solid #adb5bd36;
}
.sec_counter_stick {
  width: 50%;
  height: 3px;
  background: #FFBB00;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */