body {
  background: #F6F9FF;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

.first_section {
  margin: 0 auto;
  width: 75%;
  margin-top: 15px;
  font-family: 'Montserrat', ;
}

.baner_header {
  color: #1A3365;
  margin-top: 70px;
  font-size: 40px;
  font-weight: 700;
}
.banner_para {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  font-family: 'Montserrat', ;
}
.learn_more_btn {
  background: #1A3365;
  padding: 20px 60px 20px 60px;
  color: #FFFFFF;
  border: 1px solid #1A3365;
  background: #1A3365 0% 0% no-repeat padding-box;
  border: 1px solid #1A3365;
  border-radius: 10px;
  opacity: 1;
  font-family: 'Montserrat', ;
}
/* linear-gradient(rgb(26, 51, 101 , 0.7), rgb(26, 51, 101 , 0.7)),  */


.banner_right_sction_wraper__inner__section {
  position: relative;
}
.phone__img {
  top: 30px;
  left: -41%;
  position: absolute;
  z-index: 1;
  transform: translate(-292px, 50px);
  width: 1033px;
  height: 778px;
}
.bg_img {
  top: -20%;
  right: -10px;
  position: absolute;
  width: 100%;
  transform: translate(-106px, -456px);
}
/* BOUNCE ANIMATION */
.bounce {
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%, 75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
.bullet__list_item {
  font-weight: 600;
}